
YourChoice.Dominio/bin/Debug/netcoreapp3.1/YourChoice.Dominio.pdb
YourChoice.Dominio/bin/Debug/netcoreapp3.1/YourChoice.Dominio.dll
YourChoice.Dominio/bin/Debug/netcoreapp3.1/YourChoice.Dominio.deps.json
YourChoice.Dominio/bin/Debug/net5.0/YourChoice.Dominio.pdb
YourChoice.Dominio/bin/Debug/net5.0/YourChoice.Dominio.dll
YourChoice.Dominio/bin/Debug/net5.0/YourChoice.Dominio.deps.json
YourChoice.Dominio/bin/Debug/net5.0/ref/YourChoice.Dominio.dll
YourChoice.Dominio/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
YourChoice.Dominio/obj/Debug/net5.0/ref/YourChoice.Dominio.dll
YourChoice.Dominio/obj/Debug/net5.0/YourChoice.Dominio.AssemblyInfo.cs
YourChoice.Dominio/obj/Debug/net5.0/YourChoice.Dominio.AssemblyInfoInputs.cache
YourChoice.Dominio/obj/Debug/net5.0/YourChoice.Dominio.assets.cache
YourChoice.Dominio/obj/Debug/net5.0/YourChoice.Dominio.csproj.AssemblyReference.cache
YourChoice.Dominio/obj/Debug/net5.0/YourChoice.Dominio.csproj.CoreCompileInputs.cache
YourChoice.Dominio/obj/Debug/net5.0/YourChoice.Dominio.csproj.FileListAbsolute.txt
YourChoice.Dominio/obj/Debug/net5.0/YourChoice.Dominio.dll
YourChoice.Dominio/obj/Debug/net5.0/YourChoice.Dominio.GeneratedMSBuildEditorConfig.editorconfig
YourChoice.Dominio/obj/Debug/net5.0/YourChoice.Dominio.pdb
YourChoice.Dominio/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
YourChoice.Dominio/obj/Debug/netcoreapp3.1/YourChoice.Dominio.AssemblyInfo.cs
YourChoice.Dominio/obj/Debug/netcoreapp3.1/YourChoice.Dominio.AssemblyInfoInputs.cache
YourChoice.Dominio/obj/Debug/netcoreapp3.1/YourChoice.Dominio.assets.cache
YourChoice.Dominio/obj/Debug/netcoreapp3.1/YourChoice.Dominio.csproj.CoreCompileInputs.cache
YourChoice.Dominio/obj/Debug/netcoreapp3.1/YourChoice.Dominio.csproj.FileListAbsolute.txt
YourChoice.Dominio/obj/Debug/netcoreapp3.1/YourChoice.Dominio.dll
YourChoice.Dominio/obj/Debug/netcoreapp3.1/YourChoice.Dominio.pdb
YourChoice.Dominio/obj/project.assets.json
YourChoice.Dominio/obj/project.nuget.cache
YourChoice.Dominio/obj/YourChoice.Dominio.csproj.nuget.dgspec.json
YourChoice.Dominio/obj/YourChoice.Dominio.csproj.nuget.g.props
YourChoice.Dominio/obj/YourChoice.Dominio.csproj.nuget.g.targets
YourChoice.Dominio/YourChoice.Dominio.csproj
YourChoice.Repositorio/bin/Debug/net5.0/ref/YourChoice.Repositorio.dll
YourChoice.Repositorio/bin/Debug/net5.0/YourChoice.Dominio.dll
YourChoice.Repositorio/bin/Debug/net5.0/YourChoice.Dominio.pdb
YourChoice.Repositorio/bin/Debug/net5.0/YourChoice.Repositorio.deps.json
YourChoice.Repositorio/bin/Debug/net5.0/YourChoice.Repositorio.dll
YourChoice.Repositorio/bin/Debug/net5.0/YourChoice.Repositorio.pdb
YourChoice.Repositorio/bin/Debug/net5.0/YourChoice.Repositorio.runtimeconfig.dev.json
YourChoice.Repositorio/bin/Debug/net5.0/YourChoice.Repositorio.runtimeconfig.json
YourChoice.Repositorio/bin/Debug/netcoreapp3.1/YourChoice.Dominio.dll
YourChoice.Repositorio/bin/Debug/netcoreapp3.1/YourChoice.Dominio.pdb
YourChoice.Repositorio/bin/Debug/netcoreapp3.1/YourChoice.Repositorio.deps.json
YourChoice.Repositorio/bin/Debug/netcoreapp3.1/YourChoice.Repositorio.dll
YourChoice.Repositorio/bin/Debug/netcoreapp3.1/YourChoice.Repositorio.pdb
YourChoice.Repositorio/bin/Debug/netcoreapp3.1/YourChoice.Repositorio.runtimeconfig.dev.json
YourChoice.Repositorio/bin/Debug/netcoreapp3.1/YourChoice.Repositorio.runtimeconfig.json
YourChoice.Repositorio/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
YourChoice.Repositorio/obj/Debug/net5.0/ref/YourChoice.Repositorio.dll
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.AssemblyInfo.cs
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.AssemblyInfoInputs.cache
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.assets.cache
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.csproj.AssemblyReference.cache
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.csproj.CopyComplete
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.csproj.CoreCompileInputs.cache
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.csproj.FileListAbsolute.txt
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.dll
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.GeneratedMSBuildEditorConfig.editorconfig
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.genruntimeconfig.cache
YourChoice.Repositorio/obj/Debug/net5.0/YourChoice.Repositorio.pdb
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/YourChoice.Repositorio.AssemblyInfo.cs
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/YourChoice.Repositorio.AssemblyInfoInputs.cache
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/YourChoice.Repositorio.assets.cache
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/YourChoice.Repositorio.csproj.AssemblyReference.cache
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/YourChoice.Repositorio.csproj.CopyComplete
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/YourChoice.Repositorio.csproj.CoreCompileInputs.cache
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/YourChoice.Repositorio.csproj.FileListAbsolute.txt
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/YourChoice.Repositorio.dll
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/YourChoice.Repositorio.genruntimeconfig.cache
YourChoice.Repositorio/obj/Debug/netcoreapp3.1/YourChoice.Repositorio.pdb
YourChoice.Repositorio/obj/project.assets.json
YourChoice.Repositorio/obj/project.nuget.cache
YourChoice.Repositorio/obj/YourChoice.Repositorio.csproj.EntityFrameworkCore.targets
YourChoice.Repositorio/obj/YourChoice.Repositorio.csproj.nuget.dgspec.json
YourChoice.Repositorio/obj/YourChoice.Repositorio.csproj.nuget.g.props
YourChoice.Repositorio/obj/YourChoice.Repositorio.csproj.nuget.g.targets
